* {
    box-sizing: border-box;
}

@media (min-width: 800px) {
    body {
        background-image: url(images/rocket.svg);
        background-size: cover;
        width: 100vw;
        height: 56.25vw;
        overflow: hidden;
    }

    section {
        margin-left: 2vw;
    }

    /*nav*/
    #logo_container {
        margin-left: 1.2vw;
    }

    #logo {
        margin-right: 75vw;
    }

    .topnav {
        display: flex;
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
    }

    header,
    .dropbtn {
        background-color: white;
        display: flex;
        justify-content: center;
        position: sticky;
        font-family: 'Roboto';
        text-transform: uppercase;
        z-index: 20;
    }

    nav a:link {
        color: black;
        text-decoration: none;
    }

    nav a:visited {
        color: black;
        text-decoration: none;
    }

    nav a:hover {
        color: grey;
        text-decoration: none;
    }

    .projekter {
        display: none;
    }

    /*drop down menu*/
    .dropbtn {
        background-color: #fff;
        color: black;
        padding: 16px;
        font-size: 1rem;
        border: none;
        font-family: 'roboto';
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 1vw;
        text-decoration: none;
        display: block;
        font-family: 'roboto';
        font-size: .9rem;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
        color: black;
        /*        margin: 0;*/
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        color: grey;
        border-bottom: solid grey 3px;
    }

    /*scroll up knap*/
    .scrollToTopBtn {
        background-color: black;
        border: none;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        font-size: 16px;
        line-height: 48px;
        width: 48px;

        /* place it at the bottom right corner */
        position: fixed;
        bottom: 30px;
        right: 30px;
        /* keep it at the top of everything else */
        z-index: 100;
        /* hide with opacity */
        opacity: 0;
        /* also add a translate effect */
        transform: translateY(100px);
        /* and a transition */
        transition: all .5s ease
    }

    .showBtn {
        opacity: 1;
        transform: translateY(0)
    }

    /*tekst*/
    h1 {
        color: black;
        font-family: 'BalboaPlus Primary';
        font-weight: normal;
        text-transform: uppercase;
        font-size: 5rem;
        margin-bottom: 0;
    }

    h2 {
        font-size: 1.97rem;
        font-family: 'roboto';
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 4vw;
    }

    p {
        font-size: 1rem;
        /*    text-align: justify;*/
        font-family: 'roboto';
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 30px;
        color: black;
    }

    #mig {
        position: relative;
    }

    #mig img {
        position: absolute;
        top: -3vw;
        right: 13vw;
    }

    footer p {
        font-size: .8rem;
        text-align: center;
        font-family: 'roboto';
        text-transform: uppercase;
        padding: 0;
        margin-top: 12vw;
        color: gray;
    }

    #text {
        display: grid;
        grid-template-columns: repeat(3, 500px);
        grid-template-rows: repeat(2, 170px);
    }

    /*cv knap*/
    .b1label {
        color: black;
        border: 2px solid black;
        padding: 2vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        margin-left: 2vw;
        font-family: 'roboto';
        margin-top: 15vw;
    }

    .b1label:hover {
        background-color: #f1f1f1;
        border: 2px solid grey;
        color: grey;
    }

    a {
        text-decoration: none;
    }
}



















@media (max-width: 800px) {
    body {
        margin: 0;
    }

    main {
        background-image: url(images/stjernehimmel.svg);
        overflow: hidden;
    }

    main a {
        text-decoration: none;
    }

    /*menu*/
    .topnav {
        overflow: hidden;
        background-color: white;
        position: relative;
        text-transform: uppercase;
    }

    .topnav a:hover {
        background-color: white;
    }

    .topnav #myLinks {
        display: none;
        background-color: #f1f1f1;
        font-family: 'roboto';
        text-align: center;
    }

    .topnav a {
        color: black;
        text-decoration: none;
        font-size: 17px;
        display: block;
        padding: 5vw;
    }

    a.logo {
        padding: 0;
        margin: 1vw;
    }

    /*burgermenu*/
    .container {
        cursor: pointer;
        display: block;
        position: absolute;
        right: 3px;
        top: 0;
        margin: 3vw;
        margin-right: 1vw;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        transition: 0.4s;
        border-radius: 10px;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    /*drop down menu*/
    .dropbtn {
        border: none;
        font-family: 'roboto';

        font-size: 17px;
        display: block;
        padding: 5vw;
        text-transform: uppercase;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        /*
        position: absolute;
        background-color: white;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
*/
        display: none;
        background-color: white;
        padding-left: 26.5vw;
        padding-right: 26.5vw;
    }

    .dropdown-content a {
        color: black;
        padding: 4vw;
        text-decoration: none;
        display: block;
        font-family: 'roboto';
        font-size: .9rem;
    }

    .dropdown-content a:hover {
        /*
        background-color: #f1f1f1;
        color: black;
*/

        border-bottom: solid gray 3px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        /*
        color: grey;
        border-bottom: solid grey 3px;
*/
        padding-left: 37vw;
    }

    /*tekst*/
    h1 {
        color: white;
        text-transform: uppercase;
        font-family: 'BalboaPlus Primary';
        font-weight: normal;
        font-size: 8rem;
        margin: 0;
        margin-top: 0px;
        margin-top: 7vw;
        text-align: center;
    }

    h2 {
        font-size: 1.57rem;
        color: white;
        font-family: 'roboto';
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 30px;
        text-align: center;
    }

    p {
        padding: 15px;
        text-align: justify;
        color: white;
        font-family: 'roboto';
        padding-top: 0;
        margin-top: 0;
    }

    footer p {
        font-size: .7rem;
        text-transform: uppercase;
        text-align: center;
        font-family: 'roboto';
        color: gray;
        padding: 0;
        margin: 10px;
    }

    /*scroll knap*/
    .scrollToTopBtn {
        display: none;
    }

    /*cv knap*/
    .b1label {
        /*
        background-color: white;
        border-style: solid;
        border-width: 15px;
        border-left-width: 20px;
        border-right-width: 20px;
        border-color: white;
        color: #999;

        font-family: 'roboto';
        text-decoration: none;
*/

        color: white;
        border: 2px solid white;
        padding: 4vw;
        padding-top: 4vw;
        padding-bottom: 4vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
        font-family: 'roboto';
        margin-left: 170px;
    }

    .b1label:hover {
        /*
        background-color: #555;
        border-style: solid;
        border-width: 15px;
        border-left-width: 20px;
        border-right-width: 20px;
        border-color: #555;
*/

        background-color: #f1f1f1;
        border: 1px solid grey;
        color: grey;
    }

    main img {
        margin: 17px;
        margin-top: 40px;
        width: 90%;
        height: auto;
    }
}
