* {
    box-sizing: border-box;
}

@media (min-width: 800px) {
    body {
        background-image: url(images/rocket.svg);
        background-size: cover;
        width: 100vw;
        height: 56.25vw;
        overflow: hidden;
    }

    section {
        margin-left: 2vw;
    }

    .projekter {
        display: none;
    }

    /*tekst*/
    h1 {
        color: black;
        font-family: 'balboa-plus-primary', sans-serif;
        font-weight: normal;
        font-size: 5rem;
        margin-bottom: 0;
    }

    h2 {
        font-size: 1.97rem;
        font-family: 'roboto';
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 4vw;
    }

    p {
        font-size: 1rem;
        /*    text-align: justify;*/
        font-family: 'roboto';
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 30px;
        color: black;
    }

    footer p {
        margin-top: 16.5vw;
    }

    #mig {
        position: relative;
    }

    #mig img {
        position: absolute;
        top: -6vw;
        right: 13vw;
        margin-top: 2vw;
    }

    #text {
        display: grid;
        grid-template-columns: repeat(3, 500px);
        grid-template-rows: repeat(2, 130px);
    }

    /*cv knap*/
    .b1label {
        color: black;
        border: 2px solid black;
        padding: 2vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        margin-left: 2vw;
        font-family: 'roboto';
        margin-top: 15vw;
    }

    .b1label:hover {
        background-color: #f1f1f1;
        border: 2px solid grey;
        color: grey;
    }

    a {
        text-decoration: none;
    }
}



















@media (max-width: 800px) {
    main {
        background-image: url(images/stjernehimmel.svg);
        overflow: hidden;
    }

    main a {
        text-decoration: none;
    }

    /*tekst*/
    h1 {
        color: white;
        font-family: 'balboa-plus-primary', sans-serif;
        font-weight: normal;
        font-size: 8rem;
        margin: 0;
        margin-top: 0px;
        margin-top: 7vw;
        text-align: center;
    }

    h2 {
        font-size: 1.57rem;
        color: white;
        font-family: 'roboto';
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 30px;
        text-align: center;
    }

    p {
        padding: 15px;
        text-align: justify;
        color: white;
        font-family: 'roboto';
        padding-top: 0;
        margin-top: 0;
    }

    /*scroll knap*/
    .scrollToTopBtn {
        display: none;
    }

    /*cv knap*/
    .b1label {
        /*
        background-color: white;
        border-style: solid;
        border-width: 15px;
        border-left-width: 20px;
        border-right-width: 20px;
        border-color: white;
        color: #999;

        font-family: 'roboto';
        text-decoration: none;
*/

        color: white;
        border: 2px solid white;
        padding: 4vw;
        padding-top: 4vw;
        padding-bottom: 4vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
        font-family: 'roboto';
        margin-left: 170px;
    }

    .b1label:hover {
        /*
        background-color: #555;
        border-style: solid;
        border-width: 15px;
        border-left-width: 20px;
        border-right-width: 20px;
        border-color: #555;
*/

        background-color: #f1f1f1;
        border: 1px solid grey;
        color: grey;
    }

    main img {
        margin: 17px;
        margin-top: 40px;
        width: 90%;
        height: auto;
    }
}
