* {
    box-sizing: border-box;
}

@media (min-width: 800px) {
    main img {
        width: 100%;
    }

    /*tekst*/
    p {
        font-size: .8rem;
        text-transform: uppercase;
        text-align: center;
        font-family: 'roboto';
        margin: 2vw;
        color: grey;
    }
}



@media (max-width: 800px) {
    main img {
        width: 100%;
    }

    /*tekst*/
    footer p {
        font-size: .7rem;
        text-transform: uppercase;
        text-align: center;
        font-family: 'roboto';
        color: grey;
    }

    /*scroll knap*/
    .scrollToTopBtn {
        display: none;
    }
}
