* {
    box-sizing: border-box;
}

@media (min-width: 800px) {
    body {
        overflow: hidden;
    }

    main {
        background-image: url(images/space_blob.svg);
        background-size: cover;
        height: 57.25vw;
        margin-left: -1vw;
    }

    #section1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #section2 {
        width: 50%;
        float: right;
        position: relative;
    }

    /*scroll knap*/
    .scrollToTopBtn {
        display: none;
    }

    /*tekst*/
    h1 {
        color: white;
        font-family: 'balboa-plus-primary', sans-serif;
        font-weight: normal;
        font-size: 7rem;
        margin: 5vw 0 0 2vw;
    }

    h3 {
        font-family: 'roboto';
        font-size: 1.3rem;
        font-weight: normal;
        color: black;
        text-transform: uppercase;
    }

    #section1 p {
        font-size: 1rem;
        text-align: justify;
        font-family: 'roboto';
        color: white;
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 20px 20px 20px 0;
        padding-left: 0;
        margin: -4vw 6vw 0 2vw;
    }

    #section2 p {
        font-size: 1rem;
        text-align: justify;
        font-family: 'roboto';
        color: black;
        padding: 0 40px 0 40px;
    }

    footer p {
        font-size: .8rem;
        text-align: center;
        font-family: 'roboto';
        text-transform: uppercase;
        padding: 0;
        margin-top: -2.5vw;
        color: grey;
    }

    #weblink {
        color: white;
        text-decoration: none;
        display: grid;
        grid-column: 1/2;
        margin-left: 2vw;
    }

    #section1 a {
        color: white;
        font-family: 'roboto';
        font-weight: normal;
        font-size: 1rem;
    }

    /*scroll funktion*/
    .image_container {
        display: flex;
        position: relative;
        top: -68vw;
    }

    .image_container img_container {
        flex-grow: 1;
    }

    .image_container {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .img_container {
        flex-basis: 100%;
        flex-shrink: 0;
        scroll-snap-align: center;
        justify-items: center;
        display: grid;
    }
}






@media (max-width: 800px) {
    main {
        background-image: url(images/tema_baggrund.svg);
        background-size: cover;
    }

    main img {
        width: 100%;
    }

    /*tekst*/
    h1 {
        font-size: 6rem;
        font-family: 'balboa-plus-primary', sans-serif;
        text-transform: uppercase;
        font-weight: normal;
        text-align: center;
        color: white;
        margin: 0 0 57px;
    }

    h3 {
        padding: 10px;
        text-align: center;
        font-weight: normal;
        font-family: 'roboto';
        font-size: 1.3rem;
        color: black;
        text-transform: uppercase;
        margin: 0;
    }

    #section1 p {
        font-size: .9rem;
        text-align: justify;
        font-family: 'roboto';
        color: black;
    }

    p {
        font-size: .9rem;
        text-align: justify;
        font-family: 'roboto';
        margin: 15px 30px;
    }

    #weblink {
        margin-bottom: 15px;
        text-decoration: none;
        display: grid;
    }

    #section1 a {
        color: black;
        font-family: 'roboto';
        font-weight: normal;
        font-size: .9rem;
        margin-left: 30px;
    }
}
