* {
    box-sizing: border-box;
}

@media (min-width: 800px) {
    main {
        background-image: url(images/space_blob.svg);
        background-size: cover;

        /*width: 100vw;*/
        height: 57.25vw;

        margin-left: -1vw;
    }

    #theme_bar {
        display: flex;
        padding: 4vw;
        justify-content: center;
        font-family: 'roboto';
        text-transform: uppercase;
        font-size: 1rem;
        padding-bottom: 0;
    }

    #theme_bar a {
        text-decoration: none;
        padding-right: 40px;
        color: grey;
    }

    #theme_bar #pitch {
        padding-right: 0;
    }

    /*tekst*/
    h1 {
        color: white;
        font-family: 'BalboaPlus Primary';
        font-weight: normal;
        font-size: 7rem;
        margin-top: 6vw;
        margin-left: 2vw;
        margin-bottom: 0;
        margin-top: 1vw;
    }

    p {
        font-size: 1rem;
        text-align: justify;
        font-family: 'roboto';
        color: white;
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 20px;
        padding-left: 0;
        margin: 0;
        margin-left: 2vw;
        margin-right: 6vw;
        margin-top: -6vw;
    }
}













@media (max-width: 800px) {
    #theme_bar {
        display: none;
    }

    main {
        background-image: url(images/stars.svg);
        background-size: contain;
    }

    section {
        overflow: hidden;
    }

    /*scroll funktion*/
    .image_container {
        display: flex;
        /*        gap: 20px;*/
    }

    .image_container img_container {
        flex-grow: 1;
    }

    .image_container {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .img_container {
        flex-basis: 100%;
        flex-shrink: 0;
        scroll-snap-align: center;
    }

    .img_container .text {
        display: none;
    }

    .image_container figcaption {
        padding: 10px;
        text-align: center;
        font-family: 'roboto';
        font-size: 1.3rem;
        color: white;
        text-transform: uppercase;
    }

    /*tekst*/
    h1 {
        font-size: 3rem;
        font-family: 'roboto';
        text-transform: uppercase;
        font-weight: normal;
        text-align: center;
        color: black;
        margin: 15px;
        margin-bottom: 0;
    }

    h2 {
        color: black;
        font-family: 'roboto';
        font-weight: normal;
        text-align: center;
        margin: 1vw;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    h3 {
        font-family: 'roboto';
        font-weight: normal;
        text-align: center;
        font-size: 1.2rem;
        margin: 1vw;
    }

    section p {
        font-size: .9rem;
        text-align: justify;
        font-family: 'roboto';
        color: black;
    }

    p {
        font-size: 1rem;
        text-align: justify;
        font-family: 'roboto';
        margin: 15px;
        margin-top: 5px;
        margin-bottom: 15px;
        color: black;

        background-color: white;
        border-radius: 4px;
        opacity: .9;
    }

    .link {
        text-align: center;
        margin-bottom: 15px;
    }

    #link {
        color: black;
        text-decoration: none;
    }

    #sketch {
        color: white;
    }

    /*sorte klatter*/
    :root {
        --background: black;
        --primary: black;
        --secondary: black;
        --third: black;
    }

    #container3 {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 33vw;
        left: 53vw;
        z-index: -1;
    }

    #shape3 {
        animation: morph 8s ease-in-out infinite;
        /*        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;*/
        transition: all 1s ease-in-out;
        width: 135px;
        height: 220px;
        z-index: -1;
        transform: rotate(90deg);
    }

    @keyframes morph {
        0% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
        }

        50% {
            border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
            background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
        }

        100% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
        }
    }

    /*
    #stars_container3 {
        position: relative;
    }

    #stars_sprite3 {
        background-image: url(images/small_stars.svg);
        position: relative;
        width: 16vw;
        height: 16vw;
        left: -11vw;
        top: -76vw;
        z-index: 1;
    }
*/

    #container4 {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 128vw;
        left: 1vw;
        z-index: -1;
    }

    #shape4 {
        animation: morph 8s ease-in-out infinite;
        /*        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;*/
        transition: all 1s ease-in-out;
        width: 400px;
        height: 220px;
        z-index: -1;
    }

    @keyframes morph {
        0% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
        }

        50% {
            border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
            background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
        }

        100% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
        }
    }

    #container5 {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 363vw;
        z-index: -1;
    }

    #shape5 {
        animation: morph 8s ease-in-out infinite;
        /*        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;*/
        transition: all 1s ease-in-out;
        width: 350px;
        height: 500px;
        z-index: -1;
        transform: rotate(-10deg);
    }

    @keyframes morph {
        0% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
        }

        50% {
            border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
            background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
        }

        100% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
        }
    }

    #container6 {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 518vw;
        left: 16vw;
        z-index: -1;
    }

    #shape6 {
        animation: morph 8s ease-in-out infinite;
        /*        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;*/
        transition: all 1s ease-in-out;
        width: 150px;
        height: 350px;
        z-index: -1;
        transform: rotate(90deg);
    }

    @keyframes morph {
        0% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
        }

        50% {
            border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
            background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
        }

        100% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
        }
    }

    #container7 {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 720vw;
        left: 1vw;
        z-index: -1;
    }

    #shape7 {
        animation: morph 8s ease-in-out infinite;
        /*        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;*/
        transition: all 1s ease-in-out;
        width: 400px;
        height: 220px;
        z-index: -1;
    }

    @keyframes morph {
        0% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
        }

        50% {
            border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
            background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
        }

        100% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
        }
    }
}
