* {
    box-sizing: border-box;
}

@media (min-width: 800px) {
    #theme_bar {
        display: flex;
        padding: 4vw;
        justify-content: center;
        font-family: 'roboto';
        text-transform: uppercase;
        font-size: 1rem;
        padding-bottom: 0;
    }

    #theme_bar a {
        text-decoration: none;
        padding-right: 40px;
        color: grey;
    }

    #theme_bar #redesign {
        padding-right: 0;
    }

    /*tekst*/
    p {
        font-size: .8rem;
        text-transform: uppercase;
        text-align: center;
        font-family: 'roboto';
        margin: 2vw;
    }
}













@media (max-width: 800px) {
    #theme_bar {
        display: none;
    }

    /*tekst*/
    p {
        font-size: .7rem;
        text-transform: uppercase;
        text-align: center;
        font-family: 'roboto';
    }

    /*scroll knap*/
    /*
    .scrollToTopBtn {
        display: none;
    }
*/
}
