* {
    box-sizing: border-box;
}

@media (min-width: 800px) {
    body {
        overflow: hidden;
    }

    main {
        background-image: url(images/space_blob.svg);
        background-size: cover;

        /*width: 100vw;*/
        height: 57.25vw;

        margin-left: -1vw;
    }

    #section1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #section2 {
        width: 50%;
        float: right;
        position: relative;
    }

    /*scroll knap*/
    .scrollToTopBtn {
        display: none;
    }


    /*tekst*/
    h1 {
        color: white;
        font-family: 'BalboaPlus Primary';
        font-weight: normal;
        font-size: 7rem;
        margin-top: 6vw;
        margin-left: 2vw;
        margin-bottom: 0;
    }

    #section1 p {
        font-size: 1rem;
        text-align: justify;
        font-family: 'roboto';
        color: white;
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 20px;
        padding-left: 0;
        margin: 0;
        margin-left: 2vw;
        margin-right: 6vw;
        margin-top: -3vw;
    }

    #section2 p {
        font-size: 1rem;
        text-align: justify;
        font-family: 'roboto';
        color: black;
        padding: 40px;
        padding-top: 0;
        padding-bottom: 0;
    }

    footer p {
        font-size: .8rem;
        text-align: center;
        font-family: 'roboto';
        text-transform: uppercase;
        padding: 0;
        margin-top: -2.5vw;
        color: grey;
    }

    #weblink {
        color: white;
        margin-bottom: 15px;
        text-decoration: none;
        display: grid;
        grid-column: 1/2;
        margin-left: 2vw;
    }

    #section1 a {
        color: white;
        font-family: 'roboto';
        font-weight: normal;
        font-size: 1rem;
    }

    /*scroll funktion*/
    .image_container {
        display: flex;
        /*        gap: 20px;*/
        position: relative;
        top: -62vw;
    }

    .image_container img_container {
        flex-grow: 1;
    }

    .image_container {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .img_container {
        flex-basis: 100%;
        flex-shrink: 0;
        scroll-snap-align: center;
        justify-items: center;
        display: grid;
    }

    .image_container figcaption {
        font-family: 'roboto';
        font-size: 1.3rem;
        color: black;
        text-transform: uppercase;
    }
}












@media (max-width: 800px) {
    main {
        background-image: url(images/stjernehimmel.svg);
        background-size: cover;
    }

    section {
        overflow: hidden;
    }

    /*scroll funktion*/
    .image_container {
        display: flex;
        /*        gap: 20px;*/
    }

    .image_container img_container {
        flex-grow: 1;
    }

    .image_container {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .img_container {
        flex-basis: 100%;
        flex-shrink: 0;
        scroll-snap-align: center;
    }

    .img_container .text {
        display: none;
    }

    .image_container figcaption {
        padding: 10px;
        text-align: center;
        font-family: 'roboto';
        font-size: 1.3rem;
        color: white;
        text-transform: uppercase;
    }

    /*scroll knap*/
    .scrollToTopBtn {
        display: none;
    }

    /*tekst*/
    h1 {
        font-size: 4rem;
        font-family: 'BalboaPlus Primary';
        text-transform: uppercase;
        font-weight: normal;
        text-align: center;
        color: white;
        margin: 15px;
    }

    #section1 p {
        font-size: .9rem;
        text-transform: capitalize;
        text-align: justify;
        font-family: 'roboto';
        color: white;
    }

    p {
        font-size: .9rem;
        text-align: justify;
        font-family: 'roboto';
        margin: 30px;
        margin-top: 0;
        margin-bottom: 15px;
        color: white;
    }

    #weblink {
        color: white;
        margin-bottom: 15px;
        text-decoration: none;
        display: grid;
        grid-column: 1/2;
    }

    #section1 a {
        color: white;
        font-family: 'roboto';
        font-weight: normal;
        font-size: .9rem;
        margin-left: 30px;
    }
}
